*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.font{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

        /* shared style */
 .display-flex{
  display: flex;
 }  

 .all-btn{
  background-color: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 14px 28px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
 }

 .all-btn:hover{
  background-color: #d63b5c;
 }
 
 .container{
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
 }

  .support-content{
     display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
  }

 

     /* all property style */
    /* heading with banner style */
.banner{
  /* max-width: 1600px; */
  /* margin: 0 auto; */
  background-color: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 0;
  gap: 95px;
}

.banner-content{
  max-width: 550px;
}

.flower-heading{
   font-size: 3rem;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
  margin-bottom: 20px;
}

.flower-description{
  max-width: 634px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 30px;
}

.flower-image{
  max-width: 500px;
  display: block;
}

   /* Featured Flowers Style */

   .featured-flowers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: 140px auto;
   }   
   
   .feature-text h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
   }

   .feature-text p{
    max-width: 450px;
    font-size: .8rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 40px;
    margin-top: 20px;
   }

   .img-card-container{
    justify-content: center;
    gap: 25px;
   }

   .flower-card{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

  .image-box{
    width: 350px;
    height: 400px;
    border-radius: 300px 300px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 15px;
    overflow: hidden;
  }

  .image-box img{
    max-width: 80%;
    height: auto;
  }

  /* image background colors */
  .pink{background-color: rgba(167, 33, 98, 0.15);}
  .mixed{
    background-color: rgba(5, 151, 160, 0.15);
    padding-bottom: 50px;
  }
  .yellow{
    background-color: rgba(71, 125, 17, 0.15);
  }

  .flower-card a{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    color: #333;
  }

  /* delivey-support-section style */
  .delivery-support{
   
    padding: 40px 0;
    background-color:#f5f5f5;
    border-radius: 10px;
    margin: 0 auto;
  }
 

  .support-card{
    flex: 1;
    max-width: 300px;
    padding: 20px;
  }
  .support-card img{
    width:50px;
    height: auto;
    margin-bottom: 15px;
  }
  .support-card p{
    font-size: 1rem;
    font-weight: 600;
    color: rgba(39, 39, 39, 0.8);
    margin: 0;
  }

  /* flower discount section */
  .discount-section{
    background-color:rgba(229, 84, 115, 0.05);
    border-radius: 8px;
    margin: 128px 0;
  }
  .discount-content{
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 180px;
  }
  .discount-text h2{
    font-size: 2rem;
    font-weight: 800;
  }
  .discount-text span{
    color: rgba(229, 84, 115, 1);
  }
  .discount-text p{
    font-size: .8rem;
    color: rgba(39, 39, 39, 0.6);
    margin: 28px 0;
  }
  .discount-flower-image{
   flex: 0 0 300px;
   text-align: right;
  }
  .discount-flower-image img{
    width: 100%;
    height: auto;
    max-width: 300px;
    display: block;
    margin: 100px 0;

  }

      /* social post styles */

  .social-post{
    max-width: 1100px;
    margin: 0 auto;
    padding: 50px 15px;
  }
  .social-text h2{
    font-size: 2rem;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
    text-align: center;
  }
  .social-text p{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
  }
  .social-image-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
  }
  .image-card{
    flex: 1;
    min-width: 250px;
    border-radius: 3px;
    overflow: hidden;
  }

  .image-card img{
    width: 100%;
    height: 300px;
    object-fit: cover;
    display: block;
    transition: transform 0.3s ease;
  }
  .image-card img:hover{
    transform: scale(1.05);
  }
  
  /* Get the latest deal section */
  .latest-deal{
   max-width: 1100px;
   margin: 60px auto;
   border-radius: 10px;
   overflow: hidden;
  }
  .background-image{
    background-image: url("Rectangle\ 9.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 100px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .text-section{
    text-align: center;
    width: 100%;
  }

  .text-section h2{
    font-size: 2rem;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
    margin-bottom: 12px;
  }
  .text-section p{
    font-size: .8rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 38px;
  }
  .input-section{
    display: flex;
    max-width: 650px;
    margin: 0 auto;
    gap: 12px;
    align-items: center;
    justify-content: center;
  }
  .input-section input{
    flex: 2;
    padding: 17px 350px 17px 17px;
    border: none;
    border-radius: 8px;
    font-size: 1rem;
  }

       /* Footer section */
   
   .footer{
    background-color: rgba(17, 16, 16, 1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
   }     
   .footer h2{
    font-size: 2.5rem;
    font-weight: 800;
    color: white;
    margin-bottom: 22px;
    margin-top: 120px;
    
   }
   .footer h2 span{
    color: rgba(229, 84, 115, 1);
   }
   .paragraph-one{
    font-size: 1rem;
    font-weight: 450;
    color: rgba(255, 255, 255, 0.9);
    margin-bottom: 30px;
   }
   .paragraph-two{
    font-size: .7rem;
    font-weight: 400;
    color: rgba(255, 255, 255, 0.4);
    margin-bottom: 120px;
   }
 

@media screen and (max-width:576px){
  .banner{
    flex-direction: column;
    padding: 30px 20px 0;
    text-align: center;
  }

  .banner-content{
    max-width: 100%;
  }
  
  .flower-image{
    max-width: 100%;
    margin-top: 15px;
  }

  .img-card-container, .support-content, .discount-content, .social-image-container, .input-section{
    flex-direction: column;
  }
  
  .delivery-support{
    margin: 70px;
  }

  .discount-content{
    text-align: center;
    padding: 20px 20px;
    gap: 50px;
  }

  .discount-flower-image img{
    margin: 0 auto;
  }

  .input-section input{
    padding: 25px 50px;
  }
  
  .background-image{
    padding: 40px 20px;
    background-size: cover;
    background-position: center;
  }
  
  .footer h2{
    margin-top: 50px;
  }
  .paragraph-two{
    margin-bottom: 20px;
  }
}


   