*{
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

.font{
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-style: normal;
}

        /* shared style */
 .display-flex{
  display: flex;
 }  

 .all-btn{
  background-color: rgba(229, 84, 115, 1);
  color: rgba(255, 255, 255, 1);
  font-size: 1.25rem;
  font-weight: 700;
  padding: 14px 28px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
 }

 .all-btn:hover{
  background-color: #d63b5c;
 }
 

 

     /* all property style */
    /* heading with banner style */
.banner{
  /* max-width: 1600px; */
  /* margin: 0 auto; */
  background-color: rgba(229, 84, 115, 0.1);
  justify-content: space-between;
  align-items: center;
  padding: 50px 240px 0;
  gap: 95px;
}

.banner-content{
  max-width: 550px;
}

.flower-heading{
   font-size: 3rem;
  font-weight: 800;
  color: rgba(39, 39, 39, 1);
  margin-bottom: 20px;
}

.flower-description{
  max-width: 634px;
  font-size: 1rem;
  font-weight: 400;
  color: rgba(39, 39, 39, 0.6);
  margin-bottom: 30px;
}

.flower-image{
  max-width: 500px;
  display: block;
}

   /* Featured Flowers Style */

   .featured-flowers{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    text-align: center;
    margin: 140px auto;
   }   
   
   .feature-text h3{
    font-size: 1.5rem;
    font-weight: 800;
    color: rgba(39, 39, 39, 1);
   }

   .feature-text p{
    max-width: 450px;
    font-size: .8rem;
    font-weight: 400;
    color: rgba(39, 39, 39, 0.6);
    margin-bottom: 40px;
    margin-top: 20px;
   }

   .img-card-container{
    justify-content: center;
    gap: 25px;
   }

   .flower-card{
    display: flex;
    flex-direction: column;
    align-items: center;
   }

  .image-box{
    width: 400px;
    height: 470px;
    border-radius: 300px 300px 0 0;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    margin-bottom: 15px;
    overflow: hidden;
  }

  .image-box img{
    max-width: 80%;
    height: auto;
  }

  /* image background colors */
  .pink{background-color: rgba(167, 33, 98, 0.15);}
  .mixed{
    background-color: rgba(5, 151, 160, 0.15);
    padding-bottom: 50px;
  }
  .yellow{
    background-color: rgba(71, 125, 17, 0.15);
  }

  .flower-card a{
    font-size: 1rem;
    font-weight: 600;
    text-decoration: underline;
    color: #333;
  }



@media screen and (max-width:576px){
  .banner{
    flex-direction: column;
    padding: 30px 20px 0;
    text-align: center;
  }

  .banner-content{
    max-width: 100%;
  }
  
  .flower-image{
    max-width: 100%;
    margin-top: 15px;
  }

  .img-card-container{
    flex-direction: column;
  }
}
 


   